.icon{
  font-size: 52px;
  border-radius: 50px;
  border: 1px solid black;
  background: red;
  padding: 7px;
}
.chatting-box {
  background: aliceblue;
  height: 100%;
  width: 24%;
  padding: 23px;
  background-image: url();
}
.chatting-div {
  display: flex;
}
.chatting-div p{
  font-size: 23px;
  color: black;
  position: relative;
  left: 90px;
  margin: 0px 13px;
  bottom: 7px;
}
.chatting-div h4 {
  font-family: sans-serif;
}
.chatting-info{
  margin: 57px 0px;
}
.chatting-info h3 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400px;
}
.chatting-info h4 {
  padding: 8px 0px;
  font-size: 16px;
  font-weight: 400;
}
.chatting-detail h3 {
  border: 1px solid #ebe9e9;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  margin: 7px 9px;
  padding: 7px 26px;
  background: #fff9f9;
}
.chatting-ser {
  font-size: 18px;
  margin-bottom: 3px;
}
.chatting-button form input  {
  width: 88%;
  border-radius: 12px;
  border: 1px solid #2b2121;
  padding: 4px 16px;
}
.chatting-button button {
  margin-left: 4px;
  border: 3px solid;
  border-radius: 50px;
}
@media screen and (max-width:1039px) {
  .chatting-box{
      width: 100%;
  }
  .chatting-div p {
      left: 700px;
  }
}
@media screen and (max-width:1020px) {
  .chatting-box{
      width: 100%;
  }
  .chatting-div p {
      left: 453px;
  }
}
@media screen and (max-width:730px) {
  .chatting-box{
      width: 100%;
  }
  .chatting-div p {
    left: 63px;
  }
  .chatting-detail h3  {
    padding: 5px 10px;
  }
  .chatting-button form input {
    width: 86%;
  }



}
